
<div class="text-main">
    <h1>Quality Medical Care Delivered At The  <span>Comfort of Your Home</span></h1>
</div>

<div class="main-img-content">
    <div class="content">
        <p>
            We delivers quality care with compassion. We bring quality medical care into our patients’ homes and aim to make primary healthcare not only more accessible but also more affordable and accountable to our patient’s needs.
        </p>
    </div>
    <div class="image">
        <img src="../../assets/woman-doctor-wearing-lab-coat-with-stethoscope-isolated-removebg (1).png" height="500px">
    </div>
</div>

<div class="mission-vission">
    <ul>
        <li>
    <div class="vission">
     <h2>Our Vision</h2>
     <h6>Our aims to deliver quality ‘out-of-hospital’ medical care, which is affordable and easily accessible to patients, thus improving the quality of life of patients and families.</h6>
    </div>
    </li>
   
    <li>
    <div class="Mission">
        <h2>Our Mission</h2>
        <h6>
            To provide the best care to every patient through a strong focus on service excellence and simplified processes guided by evidence-based medical care and technology in the following areas- Preventive Care | Pre/Post Natal Care | Post-operative Care | Critical Care | Chronic Disease Management | Palliative Care | & Elder Care.
        </h6>
    </div>
    </li>

    </ul>
</div>
<div id="slider">
    <figure>
          <img src="../../assets/bgfiximg.jpg">
          <img src="../../assets/asian-doctor-visit-examines-senior-man-home-shaking-hands-after-finished-health-check-up-hospital-services-wearing-mask-protect-covid19.jpg">
          <img src="../../assets/background.jpg">
          
    </figure>
</div>



