@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau';
    text-decoration: none;
    list-style: none;
}
body{
    color: #fff;
}
header{
    position: fixed; 
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    background-color: rgb(19,138,124,.3);
}
.logo{
    display: flex;
    align-items: center;
}

.logo span{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}
.navbar a{
    color:#fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease ;

}
.navbar a:hover{
    color:#2a7989; 
}
.navbar a.active{
    color: #146777;
}
.navbar a.active:hover{
    color: #ffffff;
}
.main{
    display: flex;
    align-items: center; 
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease ;
}
.user{
    display: flex;
    text-align: center;
}
.user i{
    color:#222327;
    font-size: 28px;
    margin-right:7px;
}
.main a:hover{
    color: #2a7989;
}
#menu-icon{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display:none;
}
@media(max-width:1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding :5px 0;
        margin:0px 20px;
    }
}

@media(max-width:1000px){
    #menu-icon {
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        right:-100%;
        width:270px;
        /* height:29vh; */
        background-color: rgb(32,42,48,.3);
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display:block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color:#2a7989;
    }
    .navbar a.active:hover{
        color: #fff;
    }
    .navbar.open{
        right:2%;
    }
}