
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->
   
</head>
<body>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    
                </div>
                <div class="col-md-6 right">
                     <div class="input-box">
                        <header>Sign in Here</header>
                        <div class="input-field">
                            <input type="text" class="input" id="Username" required autocomplete="off" [(ngModel)]="user.userName"
                            #iname="ngModel">
                            <label for="Username">User Name</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="password" required   [(ngModel)]="user.password"
                            #iname="ngModel">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field">
                           <button class="submit" (click)="addUser()">Signin</button>
                            
                        </div>
                        <div class="signup">
                            <span>To Create a New account <a [routerLink]="['Register']">Sign Up here</a></span>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>